[submodule "ur"]
	path = ur
	url = https://github.com/themartiancompany/ur
[submodule "evmfs"]
	path = evmfs
	url = https://github.com/themartiancompany/evmfs
[submodule "evm-contracts-tools"]
	path = evm-contracts-tools
	url = https://github.com/themartiancompany/evm-contracts-tools
[submodule "evm-transactions-tools"]
	path = evm-transactions-tools
	url = https://github.com/themartiancompany/evm-transactions-tools
[submodule "evm-contracts-source-index"]
	path = evm-contracts-source-index
	url = https://github.com/themartiancompany/evm-contracts-source-index
[submodule "evm-openpgp-keyserver"]
	path = evm-openpgp-keyserver
	url = https://github.com/themartiancompany/evm-openpgp-keyserver
[submodule "libevm"]
	path = libevm
	url = https://github.com/themartiancompany/libevm
[submodule "aspe"]
	path = aspe
	url = https://github.com/themartiancompany/aspe
[submodule "pub"]
	path = pub
	url = https://github.com/themartiancompany/pub
[submodule "crash-bash"]
	path = crash-bash
	url = https://github.com/themartiancompany/crash-bash
[submodule "evm-gnupg"]
	path = evm-gnupg
	url = https://github.com/themartiancompany/evm-gnupg
[submodule "evm-deployer"]
	path = evm-deployer
	url = https://github.com/themartiancompany/evm-deployer
[submodule "solidity-compiler"]
	path = solidity-compiler
	url = https://github.com/themartiancompany/solidity-compiler
[submodule "crash-js"]
	path = crash-js
	url = https://github.com/themartiancompany/crash-js
